<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello World!</title>

    <!-- Favicon -->
    <!--<link href="./assets/img/brand/favicon.png" rel="icon" type="image/png">-->



    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!-- Material Kit-->
    <link type="text/css" rel="stylesheet" href="/assets/css/seat2.css">
    <link type="text/css" href="/assets/css/material-kit.min.css" rel="stylesheet">
    
</head>

<body>
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="position-relative m-4">
                <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <button type="button"
                    class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
                    style="width: 2rem; height:2rem;">1</button>
                <button type="button"
                    class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill"
                    style="width: 2rem; height:2rem;">2</button>
                <button type="button"
                    class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
                    style="width: 2rem; height:2rem;">3</button>
            </div>
            <!-- <div class="col col-md-auto"> -->
            <div class="col-12 col-md-10">
                <table class="table">
                    <tbody>
                        <tr>
                          <td id="routeName">동서울 ----- 가평 </td>
                          <td id="arrPlandTime">2024-01-21</td>
                        </tr>
                        <tr>
                          <td id="depPlandTime">06:45 출발</td>
                          <td id="gradeNm">강원고속 [일반]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-10 p-5 my-5 border rounded-3 seatContainer">

                <!-- <h1 style="text-align: center;">좌석 선택</h1> -->
                <div class="row">

                    <div class="col-md" style="margin: 20px; float: left;">
                        
                        <div class="row container">
                            <h5>> 매수선택</h5>
                            <div class="border rounded" style="padding: 20px; padding-right: 100px; width: 400px; float: left;">
                                <div class="input-group input-group-static mb-4">
                                    <label for="exampleFormControlSelect1" class="ms-0">성인</label>
                                    <select class="form-control" id="select1" onchange="changeSelectValue()">
                                        <option value=0>0</option>
                                        <option value=1 selected>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-static mb-4">
                                    <label for="exampleFormControlSelect1" class="ms-0">중고생</label>
                                    <select class="form-control" id="select2" onchange="changeSelectValue()">
                                        <option value=0>0</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-static mb-4">
                                    <label for="exampleFormControlSelect1" class="ms-0">아동</label>
                                    <select class="form-control" id="select3" onchange="changeSelectValue()">
                                        <option value=0>0</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row container" style="margin-top: 30px;">
                            <h5>> 선택매수 및 금액</h5>
                            <div class="border rounded" style="padding: 20px;">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">성인</th>
                                            <td><span id="adult"></span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">중고생</th>
                                            <td><span id="middleChild">0</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">아동</th>
                                            <td><span id="child">0</span></td>
                                        </tr>
                                        <tr class="table-active">
                                            <th scope="row">합계</th>
                                            <td><span id="costs" style="font-weight: bold; font-size: larger;"></span>원
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="margin-top: 50px;">
                                    <p>선택좌석<span id="selectedseat"></span></p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="button" id="btn" class="btn bg-gradient-warning" style="margin-top: 40px; width:100px; margin:auto; display:block; font-size:large;">다음 ></button>
                    </div>
                    <div class="col-6 order-2" style="float: left; margin-top: 20px;">

                        <div class="container" style="float: left;">

                            <div class="container" style="width: 400px; float: left;">
                                <h5>> 좌석선택</h5>
                                <div class="container border rounded">
                                    <div>
                                        <img src="/assets/img/drive-seat.JPG" alt="" style="width:100%;">
                                    </div>
                                    <div class="row" style="height: 60px; margin-top: 10px;">
                                        <div class="col">
                                            <div id="1" class="seat">1</div>
                                        </div>
                                        <div class="col">
                                            <div id="2" class="seat">2</div>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col">
                                            <div id="3" class="seat">3</div>
                                        </div>
                                        <div class="col">
                                            <div id="4" class="seat">4</div>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 60px; margin-top: 10px;">
                                        <div class="col">
                                            <div id="5" class="seat">5</div>
                                        </div>
                                        <div class="col">
                                            <div id="6" class="seat">6</div>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col">
                                            <div id="7" class="seat">7</div>
                                        </div>
                                        <div class="col">
                                            <div id="8" class="seat">8</div>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 60px; margin-top: 10px;">
                                        <div class="col">
                                            <div id="9" class="seat">9</div>
                                        </div>
                                        <div class="col">
                                            <div id="10" class="seat">10</div>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col">
                                            <div id="11" class="seat">11</div>
                                        </div>
                                        <div class="col">
                                            <div id="12" class="seat">12</div>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 60px; margin-top: 10px;">
                                        <div class="col">
                                            <div id="13" class="seat">13</div>
                                        </div>
                                        <div class="col">
                                            <div id="14" class="seat">14</div>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col">
                                            <div id="15" class="seat">15</div>
                                        </div>
                                        <div class="col">
                                            <div id="16" class="seat">16</div>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 60px; margin-top: 10px;">
                                        <div class="col">
                                            <div id="17" class="seat">17</div>
                                        </div>
                                        <div class="col">
                                            <div id="18" class="seat">18</div>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col">
                                            <div id="19" class="seat">19</div>
                                        </div>
                                        <div class="col">
                                            <div id="20" class="seat">20</div>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 60px; margin-top: 10px;">
                                        <div class="col">
                                            <div id="21" class="seat">21</div>
                                        </div>
                                        <div class="col">
                                            <div id="22" class="seat">22</div>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col">
                                            <div id="23" class="seat">23</div>
                                        </div>
                                        <div class="col">
                                            <div id="24" class="seat">24</div>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 60px; margin-top: 10px; margin-bottom: 25px;">
                                        <div class="col">
                                            <div id="25" class="seat">25</div>
                                        </div>
                                        <div class="col">
                                            <div id="26" class="seat">26</div>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col">
                                            <div id="27" class="seat">27</div>
                                        </div>
                                        <div class="col">
                                            <div id="28" class="seat">28</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        var reservationNum = 1;
        var adaultPrice = 8000;
        var middleChildPrice = 6000;
        var childPrice = 4000;
        var occupiedSeatsList = [];
        var busId;
        var totalPrice = 0;
        var routeData;
        //totalPrice를 보내는건 조작가능하므로 보안적으로 위험할 수 있음, 서버에서 한번더 검증해야함
        document.addEventListener('DOMContentLoaded', () => {
            fetch("http://localhost:8083/routeinfotest?departureId=NAI0511601&arrivalId=NAI2551901&departureTime=202401050640")
            .then((response) => response.json())
            .then((data) => 
            {
                console.log(data);
                document.querySelector('#routeName').textContent = data.arrPlaceNm + '---->' + data.depPlaceNm;
                document.querySelector('#arrPlandTime').textContent = data.arrPlandTime;
                document.querySelector('#depPlandTime').textContent = data.depPlandTime;
                document.querySelector('#gradeNm').textContent = data.gradeNm;
                routeData = data;
                adaultPrice = data.adultCharge;
                totalPrice = adaultPrice;
                document.querySelector('#adult').textContent = adaultPrice;
                document.querySelector('#costs').textContent = adaultPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
                middleChildPrice = data.middleChildCharge;
                childPrice = data.childCharge;
                busId = data.busId;
                for (const value of data.occupiedSeats) {
                    document.getElementById(value).className = 'occupiedSeat';
                }
            });


            var occupiedSeats = document.querySelectorAll('.occupiedSeat');
            console.log(occupiedSeats);
            for (var value of occupiedSeats) {
                console.log(value);
            }

            for (const value of occupiedSeatsList) {
                console.log('seatsValue',value);
                document.getElementById(value).className = 'occupiedSeat';
            }
            const seatContainer = document.querySelector('.seatContainer');
            console.log(seatContainer);
            const movie = document.getElementById('movie'); // 선택할 영화

            let count = document.querySelector('#count'); // 인원수
            let costs = document.querySelector('#costs'); // 가격
            costs.textContent = adaultPrice;
            var seatsNames = document.querySelector('#selectedseat');
            document.querySelector('#adult').textContent = adaultPrice;

            // 선택한 좌석수 텍스트 변경해주기

            function countSeatPrice() {
                const selectedSeatCount = document.querySelectorAll('.selectedSeat').length;
                if (selectedSeatCount == reservationNum) {
                    var selectedSeats = document.querySelectorAll('.seat');
                    for (var value of selectedSeats) {
                        value.className = 'max-select-seat';
                    }
                } else {
                    var selectedSeats = document.querySelectorAll('.max-select-seat');
                    for (var value of selectedSeats) {
                        value.className = 'seat';
                    }
                }
                //count.textContent = selectedSeatCount;
                //costs.textContent = selectedSeatCount * 5000;

            }


            //좌석 클릭했을때

            seatContainer.addEventListener('click', (e) => {
                //console.log('click!!');
                if (e.target.className === 'seat') {
                    e.target.className = 'selectedSeat';
                    showSelectedSeatsStr();
                } else if (e.target.className === 'selectedSeat') {
                    e.target.className = 'seat';
                    showSelectedSeatsStr();
                }

                countSeatPrice();
            })

            function showSelectedSeatsStr() {
                var selected = document.querySelectorAll('.selectedSeat');
                var str = '>>';
                for (var value of selected) {
                    str = str + " " + value.textContent;
                }
                seatsNames.textContent = str;
            }
        })

        function changeSelectValue() {
            var value_str1 = document.getElementById('select1');
            var value_str2 = document.getElementById('select2');
            var value_str3 = document.getElementById('select3');

            var price1 = adaultPrice * parseInt(value_str1.options[value_str1.selectedIndex].value);
            var price2 = middleChildPrice * parseInt(value_str2.options[value_str2.selectedIndex].value);
            var price3 = childPrice * parseInt(value_str3.options[value_str3.selectedIndex].value);

            document.querySelector('#adult').textContent = price1;
            document.querySelector('#middleChild').textContent = price2;
            document.querySelector('#child').textContent = price3;

            totalPrice = price1 + price2 + price3;
            document.querySelector('#costs').textContent = totalPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
            reservationNum = parseInt(value_str1.options[value_str1.selectedIndex].value)
                + parseInt(value_str2.options[value_str2.selectedIndex].value)
                + parseInt(value_str3.options[value_str3.selectedIndex].value);
        }

        document.getElementById("btn").addEventListener("click", btnClick);
        function btnClick() {
            console.log('click!!!');
            const selectedSeatCount = document.querySelectorAll('.selectedSeat').length;
            if (selectedSeatCount != reservationNum) {
                alert('선택하신 승차권 매수와 선택한 좌석수를 다릅니다. 좌석을 다시 선택해 주십시오.');
            }else{
                var reservationSeatsList = [];
                var selected = document.querySelectorAll('.selectedSeat');
                
                for (var value of selected) {
                    reservationSeatsList.push(value.id);
                }
                
                var value_str1 = document.getElementById('select1');
                var value_str2 = document.getElementById('select2');
                var value_str3 = document.getElementById('select3');

                var adaultNum = parseInt(value_str1.options[value_str1.selectedIndex].value);
                var middleChildNum = parseInt(value_str2.options[value_str2.selectedIndex].value);
                var childNum = parseInt(value_str3.options[value_str3.selectedIndex].value);


                fetch("http://localhost:8083/routeinfotest", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    routeData: routeData,
                    busId: busId,
                    selectedSeats: reservationSeatsList,
                    totalPrice: totalPrice,
                    adaultNum: adaultNum,
                    middleChildNum: middleChildNum,
                    childNum: childNum
                }),
                })
                .then((response) => response.json())
                .then((data) => console.log(data));
            }
        }


    </script>

    <!--   Core JS Files   -->
    <script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/moment.min.js"></script>


    <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <!-- <script src="./assets/js/plugins/nouislider.min.js"></script> -->

    <!--  Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/  -->
    <!-- <script src="./assets/js/plugins/glidejs.min.js"></script> -->

    <!--	Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/ -->
    <!-- <script src="./assets/js/plugins/choices.min.js" type="text/javascript"></script> -->

    <!-- Control Center for Material Kit parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/material-kit.min.js" type="text/javascript"></script>
</body>

</html>