<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
		.div1 {
			width: 500px;
			height: 750px;
			margin: auto;
		}
	</style>
</head>
<script type="text/javascript" src="/qrcodejs-master/qrcode.js"></script>
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>

<body class="text-center">
    <div id="screenshot" class="div1 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-lg">
            <path d="M8 6v6"></path>
            <path d="M15 6v6"></path>
            <path d="M2 12h19.6"></path>
            <path
                d="M18 18h3s.5-1.7.8-2.8c.1-.4.2-.8.2-1.2 0-.4-.1-.8-.2-1.2l-1.4-5C20.1 6.8 19.1 6 18 6H4a2 2 0 0 0-2 2v10h3">
            </path>
            <circle cx="7" cy="18" r="2"></circle>
            <path d="M9 18h5"></path>
            <circle cx="16" cy="18" r="2"></circle>
        </svg>
        <h1 class="text-xl font-bold">시외버스 승차권</h1> <hr>
        <div class="">
            <p class="text-sm">출발일시</p>
            <p class="text-lg font-semibold" th:text="${info['DEPARTURE_TIME']}"></p>
        </div>
        <div>
            <!-- qr -->
            <div id="qrcode" style="width:100px; height:100px; margin:auto; margin-top:15px;"></div>
            <div class="text-center pb-4" th:text="${PAY_ID}">20230423080424</p>
        </div>
        
        <table class="table table-bordered">
            <tbody class="[&amp;_tr:last-child]:border-0">
                <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                    <td class="col-md-6 align-middle" text=${info['departure_time']}><b>동서울역</b><br> 출발 </td>
                    <td class="col-md-6 align-middle"><b>부산역</b> <br> 도착</td>
                </tr>
            </tbody>
        </table>
        <p class="text-xl text-center fw-bold"> 요금 3,000원 (부가가치세 포함)</p>
        <table class="table table-bordered">
            <tbody class="[&amp;_tr:last-child]:border-0">
                <tr class="border-b ">
                    <td class="col-md-6 align-middle ">출발시간 <br> Time <span style="float: right;"> 13:30</span></td>
                    <td class="col-md-6 align-middle ">좌석 <br> Seat <span style="float: right;"> 6</span></td>
                </tr>
                <tr class="border-b ">
                    <td class="col-md-6 align-middle">도착시간 <br> Time <span style="float: right;"> 13:30</span></td>
                        <span style="float: right;"> 금호</span></td>
                    <td class="col-md-6 align-middle ">승차홈 <br> platform
                    </td>
                </tr>
            </tbody>
        </table>
            

    </div>
    
    <input id="textqr" type="text" th:value="${info}" style="width:100%; display: none;"> <br>
    <button type="button" id="save">다운로드</button>
    <div id="img" style="display: none;"></div>
    <a id="downloadLink"></a>


</body>
<script>
	/*
	document.addEventListener('DOMContentLoaded', function() {
		localData = JSON.parse(sessionStorage.getItem("reservationData"));
		
		$.ajax({
			url: "/reservation/tickets",
			method: "POST",
			data: localData,
			contentType: "application/json",
			success: function (response) {
				console.log("response: ", response);
				alert("결제 정보가 성공적으로 전송되었습니다");
				responseData = response.img;
				console.log(responseData);
				
			},
			error: function (xhr, status, error) {
				//console.error("결제 정보 전송 실패 : ", error);
				alert("결제 정보 전송에 실패");
			}
		});
		
		var arrivalTime = info.get("arrival_time");
		console.log("arrivalTime: ",info);
		
		/*
        var departureTime = sessionStorage.getItem("departureTime");
        var arrival = sessionStorage.getItem("arrival");
        var arrivalTime = sessionStorage.getItem("arrivalTime");
        var departure = sessionStorage.getItem("departure");
        var totalPrice = sessionStorage.getItem("totalPrice");
        var selectedSeats = sessionStorage.getItem("selectedSeats");
        var adultNum = sessionStorage.getItem("adultNum");
        var middleChildNum = sessionStorage.getItem("middleChildNum");
        var childNum = sessionStorage.getItem("childNum");
        var payId = sessionStorage.getItem("payId");
        console.log("selectedSeats: ", selectedSeats);
        
        document.getElementByClass("departureDiv").textContent = departure;
        document.getElementById("arrivalDiv").textContent = arrival;
        document.getElementById("departureTimeDiv").textContent = departureTime;
        document.getElementById("arrivalTimeDiv").textContent = arrivalTime;
        document.getElementByClass("totalPriceDiv").textContent = totalPrice;
        document.getElementById("selectedSeatsDiv").textContent = selectedSeats;
        document.getElementById("adultNumDiv").textContent = adultNum;
        document.getElementById("middleChildNumDiv").textContent = middleChildNum;
        document.getElementById("childNumDiv").textContent = childNum;
        document.getElementById("payIdDiv").textContent = payId;
    });
	*/
	
	$(document).ready(function() {
        // AJAX 요청을 보냅니다.
        $.ajax({
            url: '/reservation/ticket2',
            type: 'GET',
            
            data: {
                payId: '여기에 원하는 payId 값 입력'
            },
            
            success: function(info) {
                // 여기에서 응답받은 데이터를 처리합니다.
                // 예를 들어, info 객체의 필드를 HTML 요소에 채워 넣을 수 있습니다.
                //$('#someElement').text(info.someField);
                // 추가적으로 필요한 데이터 처리 코드를 여기에 작성합니다.
                console.log(info);
            },
            error: function(error) {
                console.log('에러 발생', error);
                // 에러 처리 로직을 여기에 작성합니다.
            }
        });
    });
	
    $(function () {
            $("#save").click(function () {
                html2canvas($('#screenshot').get(0)).then(function (canvas) {
                    document.getElementById('img').appendChild(canvas);

                    var dataURL = canvas.toDataURL('image/png');

                    var downloadLink = document.getElementById('downloadLink');
                    downloadLink.href = dataURL;

                    downloadLink.download = 'screenshot.png';

                    downloadLink.click(); 
                });
            });
        });
    
	//qr코드 생성 
	var qrcode = new QRCode(document.getElementById("qrcode"), { 
	//가로, 세로 높이 조절 
	width : 100, 
	height : 100 }); 
	
	//input:text에 들어있는 value를 qr코드로 바꿔주는 function 
	function makeCode () { 
		var elText = document.getElementById("textqr");
		console.log(elText.value);
	    if (!elText.value) { 
	    	alert("Input a text"); 
	        elText.focus(); return; 
	    } 
	    qrcode.makeCode(elText.value); 
	} 
	
	//위에 만든 function 실행 
	makeCode(); 
	
	//텍스트 이벤트 감지 
	$("#text")
		.on("blur", function () { 
		makeCode(); })
	    .on("keydown", function (e) { 
	    	if (e.keyCode == 13) { 
	        makeCode();} 
	    });


</script>
</html>