<!doctype html>
<html lang="ko">
<head>
  	<meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

  	<title>xFrame5</title>

    <link rel="shortcut icon" href="../../xframe5/version/studio/prod/master/xframe5.ico">

    <!-- xFrame CORE/BASIC/EXT CSS -->
    <link rel="stylesheet" type="text/css" href="../../xframe5/version/studio/prod/master/xf5/css/xf_engine.min.css">

    <!-- xFrame Page CSS -->
    <link rel="stylesheet" type="text/css" href="../../xframe5/version/studio/prod/master/xframe5.css">

    <!-- xFrame Customized CSS -->
    <!--
    <link rel="stylesheet" type="text/css" href="./xf5/site/xf_site.css">
    -->
</head>
<body>
<div id="_xf_loader_box" class="_xf_loader_box" style="display:none;">
    <div class="_xf_loader_view">
        <div class="_xf_loader_content">
            <button draggable="true" tabindex="-1" id="_xf_menu_btn" class="_xf_load_btn">
                <i id="_xf_loader_menu">&lt;</i>
            </button>&nbsp;
            Screen URL <input id="_xf_screen_url" class="_xf_screen_url"  tabindex="-1" type="text" value="">&nbsp;
            Screen <select id="_xf_screen_url_select" class="_xf_screen_url_select" tabindex="-1">
                <option value="/DEMO/start">DEMO</option>
            </select>&nbsp;
            <select id="_xf_language_select" class="_xf_language_select" tabindex="-1">
                <option value="ko" selected="selected">한국어</option>
                <option value="en">영어</option>
            </select>&nbsp;
            <select id="_xf_country_select" class="_xf_country_select" tabindex="-1">
                <option value="kr" selected="selected">한국</option>
                <option value="us">미국</option>
            </select>&nbsp;
            <button tabindex="-1" id="_xf_load_btn" class="_xf_load_btn">Load</button>&nbsp;
            <button tabindex="-1" id="_xf_console_btn" class="_xf_load_btn">Console</button>
        </div>
    </div>
</div>

<!-- External JS -->
<script src="../../xframe5/version/studio/prod/master/xf5/ext/lib/jquery-3.2.1.min.js"></script>

<!-- xFrame5 JS -->
<script src="../../xframe5/version/studio/prod/master/xf5/lib/xf_const.min.js"></script>
<script src="../../xframe5/version/studio/prod/master/xf5/lib/xf_engine.min.js"></script>

<!-- xFrame5 Page JS -->
<script src="./template.js?_=20230410"></script>

<script src="https://togetherjs.com/togetherjs-min.js"></script>
</body>
</html>