<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
		.div1 {
			width: 500px;
			height: 750px;
			margin: auto;
		}
	</style>
</head>
<script type="text/javascript" src="/qrcodejs-master/qrcode.js"></script>
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>

<body class="text-center">
    <div id="screenshot" class="div1 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-lg">
            <path d="M8 6v6"></path>
            <path d="M15 6v6"></path>
            <path d="M2 12h19.6"></path>
            <path
                d="M18 18h3s.5-1.7.8-2.8c.1-.4.2-.8.2-1.2 0-.4-.1-.8-.2-1.2l-1.4-5C20.1 6.8 19.1 6 18 6H4a2 2 0 0 0-2 2v10h3">
            </path>
            <circle cx="7" cy="18" r="2"></circle>
            <path d="M9 18h5"></path>
            <circle cx="16" cy="18" r="2"></circle>
        </svg>
        <h1 class="text-xl font-bold">시외버스 승차권</h1> <hr>
        <div class="">
            <p class="text-sm">출발일시</p>
            <p class="text-lg font-semibold" th:text="${info['DEPARTURE_TIME']}"></p>
        </div>
        <div>
            <!-- qr -->
            <div id="qrcode" style="width:100px; height:100px; margin:auto; margin-top:15px;"></div>
            <div class="text-center pb-4" th:text="${info['PAY_ID']}"></p>
        </div>
        
        <table class="table table-bordered">
            <tbody class="[&amp;_tr:last-child]:border-0">
                <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                    <td class="col-md-6 align-middle"><b th:text="${info['DEPARTURE_NAME']}"></b><br> 출발 </td>
                    <td class="col-md-6 align-middle"><b th:text="${info['ARRIVAL_NAME']}"></b> <br> 도착</td>
                </tr>
            </tbody>
        </table>
        <p class="text-xl text-center fw-bold"> 요금 <span th:text="${info['TOTAL_PRICE']}"> </span>원 (부가가치세 포함)</p>
        <table class="table table-bordered">
            <tbody class="[&amp;_tr:last-child]:border-0">
                <tr class="border-b ">
                    <td class="col-md-6 align-middle ">출발시간 <br> Time <span style="float: right;" th:text="${info['depTime']}"></span></td>
                    <td class="col-md-6 align-middle ">좌석 <br> Seat <span style="" th:text="${info['SEAT_ID']}"></span></td>
                </tr>
                <tr class="border-b ">
                    <td class="col-md-6 align-middle">도착시간 <br> Time <span style="float: right;" th:text="${info['arrTime']}"></span></td>
                    <td class="col-md-6 align-middle ">인원 수 <br> 어른 <span th:text="${info['ADULT']}"></span>명  
                    	청소년 <span th:text="${info['MIDDLE_CHILD']}"></span>명  어린이 <span th:text="${info['CHILD']}"></span>명  
                    </td>
                </tr>
            </tbody>
        </table>
            

    </div>
    
    <input id="textqr" type="text" th:value="${info}" style="width:100%; display: none;"> <br>
    <button type="button" id="save">다운로드</button>
    <div id="img" style="display: none;"></div>
    <a id="downloadLink"></a>


</body>
<script>
    $(function () {
            $("#save").click(function () {
                html2canvas($('#screenshot').get(0)).then(function (canvas) {
                    document.getElementById('img').appendChild(canvas);

                    var dataURL = canvas.toDataURL('image/png');

                    var downloadLink = document.getElementById('downloadLink');
                    downloadLink.href = dataURL;

                    downloadLink.download = 'screenshot.png';

                    downloadLink.click(); 
                });
            });
        });
    
	//qr코드 생성 
	var qrcode = new QRCode(document.getElementById("qrcode"), { 
	//가로, 세로 높이 조절 
	width : 100, 
	height : 100 }); 
	
	//input:text에 들어있는 value를 qr코드로 바꿔주는 function 
	function makeCode () { 
		var elText = document.getElementById("textqr");
		console.log(elText.value);
	    if (!elText.value) { 
	    	alert("Input a text"); 
	        elText.focus(); return; 
	    } 
	    qrcode.makeCode(elText.value); 
	} 
	
	//위에 만든 function 실행 
	makeCode(); 
	
	//텍스트 이벤트 감지 
	$("#text")
		.on("blur", function () { 
		makeCode(); })
	    .on("keydown", function (e) { 
	    	if (e.keyCode == 13) { 
	        makeCode();} 
	    });


</script>

</html>