<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="metanet.kosa.metanetfinal.route.repository.IRouteRepository">
	
	<select id="getRouteId" parameterType="map" resultType="string">
	<![CDATA[
		SELECT 
			ROUTE_ID
		FROM 
			ROUTES
		WHERE DEPARTURE_ID = #{departureId}
		AND ARRIVAL_ID = #{arrivalId}
		AND DEPARTURE_TIME = #{departureTime}
	]]>
	</select>
	
	<insert id="makeNewRoute" parameterType="map">
	<![CDATA[
		INSERT INTO ROUTES
			(ROUTE_ID, DEPARTURE_ID, ARRIVAL_ID, DEPARTURE_TIME, ARRIVAL_TIME, PRICE)
		VALUES 
			(#{routeId}, #{departureId}, #{arrivalId}, #{departureTime}, #{arrivalTime}, #{price})
	]]>
	</insert>

	<!--  
	<insert id="insertBoard" parameterType="Notice" useGeneratedKeys="true" keyProperty="NTC_ID">
	<![CDATA[
		INSERT INTO ntc 
			(MEM_ID, TIT, CNT, DIR_PATH)
		VALUES 
			(#{memId}, #{tit}, #{cnt}, #{dirPath})
	]]>
	</insert>
	
	<update id="updateBoard">
	<![CDATA[
		UPDATE ntc 
		SET 
			MEM_ID=#{memId}, TIT=#{tit}, 
			CNT=#{cnt}, DIR_PATH=#{dirPath}
		WHERE NTC_ID=#{ntcId}
	]]>
	</update>
	
	<delete id="deleteBoard" parameterType="int">
	<![CDATA[
		DELETE FROM ntc
		WHERE NTC_ID=#{ntcId}
	]]>
	</delete>

	<insert id="registerNonMember" parameterType="map">
	<![CDATA[
		INSERT INTO 
			nmb (nmb_id, pho_num) 
		VALUES 
			(#{nmbId}, #{phoNum})
	]]>
	</insert>

	<select id="selectMember" parameterType="string" resultType="com.example.myapp.member.model.Member">
	<![CDATA[
		SELECT 
			userid,
			name,
			password,
			phone,
			email 
		FROM 
			member 
		WHERE userid=#{userid}
	]]>
	</select>
	
	<select id="selectAllMembers" resultType="com.example.myapp.member.model.Member">
	<![CDATA[
		SELECT 
			userid, name, password, phone, address 
		FROM
			member
	]]>
	</select>
	
	<update id="updateMember" parameterType="com.example.myapp.member.model.Member">
	<![CDATA[
		UPDATE MEMBER
		SET 
			name=#{name}, password=#{password}, phone=#{phone}, email=#{email} 
		WHERE 
			userid=#{userid}
	]]>
	</update>
	
	<delete id="deleteMember" parameterType="com.example.myapp.member.model.Member">
	<![CDATA[
		DELETE FROM
			member 
		WHERE
			userid=#{userid} AND password=#{password}
	]]>
	</delete>
	
	<select id="getPassword" parameterType="string" resultType="string">
	<![CDATA[
		SELECT
			password
		FROM
			member
		WHERE userid=#{userid}
	]]>
	</select>
	-->
	
</mapper>