* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v11_141 {
  width: 100%;
  height: 1080px;
  background: url("../images/v11_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_142 {
  width: 220px;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_175 {
  width: 100%;
  height: 1080px;
  background: url("../images/v11_175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 220px;
  overflow: hidden;
}
.v11_176 {
  width: 100%;
  height: 1080px;
  background: url("../images/v11_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_192 {
  width: 667px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 133px;
  left: 477px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v11_193 {
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 231px;
  left: 0px;
  overflow: hidden;
}
.v11_259 {
  width: 100%;
  height: 150px;
  background: rgba(46,45,61,1);
  opacity: 1;
  position: absolute;
  top: 930px;
  left: 0px;
  overflow: hidden;
}
.v11_260 {
  width: 748px;
  height: 30px;
  background: url("../images/v11_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v11_261 {
  width: 61px;
  height: 30px;
  background: url("../images/v11_261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_262 {
  width: 58px;
  height: 30px;
  background: url("../images/v11_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 81px;
  overflow: hidden;
}
.v11_263 {
  width: 53px;
  height: 30px;
  background: url("../images/v11_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 159px;
  overflow: hidden;
}
.v11_264 {
  width: 69px;
  height: 30px;
  background: url("../images/v11_264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 232px;
  overflow: hidden;
}
.v11_265 {
  width: 73px;
  height: 30px;
  background: url("../images/v11_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 321px;
  overflow: hidden;
}
.v11_266 {
  width: 62px;
  height: 30px;
  background: url("../images/v11_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 414px;
  overflow: hidden;
}
.v11_267 {
  width: 64px;
  height: 30px;
  background: url("../images/v11_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 434px;
  overflow: hidden;
}
.v11_268 {
  width: 65px;
  height: 30px;
  background: url("../images/v11_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 350px;
  overflow: hidden;
}
