<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>MetaBus</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
	<!-- Nucleo Icons -->
	<link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

	<link href="/assets/css/material-kit.css?v=3.0.0" rel="stylesheet" />

	<!-- 커스텀 CSS -->
	<link href="/assets/css/final.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="/assets/css/seat2.css">
	
	<!-- KoPub 폰트 -->
	<link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>


	
	
	<style>
		body { font-family: 'KoPub Dotum'; }
		#searchForm {
        width: 100%; /* 버튼의 너비를 100%로 설정 */
    	}
    	.custom-container-padding {
        padding: 20px; /* 상하좌우 20px의 패딩 */
    	}
	</style>
</head>

<body>

	<div th:replace="~{fragments/navbarFragment :: navbar}"></div>
	<!-- Include navbar fragment -->

	<!-- container fluid -->
	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-lg-12 metanet-page-header pb-6" style="height: 100%; background-image: url('../assets/img/bus.png');">
				<span class="mask bg-gradient-dark opacity-6"></span>
				<div class="container-fluid metanet-mt-24">
					<div class="row " style="text-align: center;">
						<!-- 좌석조회 카드 -->
						<div class="col-lg-12 mb-5" style="z-index: 10;">
							<div class="container bg-body-tertiary rounded-4 mt-n12">

								<div class="section text-center">

											
											
											<!-- <div class="col col-md-auto"> -->
											<div class="col-12 col-md-10 mt-5">
												
												<!-- 공지사항 리스트 -->
													<div class="container ">
												        <span th:text="${message}">메시지</span>
												        <div class="content">
												           <div class="card">
  																<div class="table-responsive">
														            <table class="table align-items-center mb-0" id="noticetable">
														                <thead>
														                    <tr>
														                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">게시판 ID</th>
														                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">제목</th>
														                    </tr>
														                </thead>
														                <tbody>
														                    <tr th:each="notice : ${noticeList}">
														                        <td th:text="${notice.noticeId}" class="text-xs text-secondary mb-0">게시판 ID</td>
														                        <td>
														                            <a th:href="@{/notice/{noticeId}(noticeId=${notice.noticeId})}" th:text="${notice.title}" class="text-xs font-weight-bold mb-0">제목</a>
														                        </td>
														                    </tr>
														                </tbody>
														            </table>
														          </div>
														      </div>
														      <!-- 검색 -->
														      <br><br>
												            <!--<div class="input-group mb-3">
													            <form th:action="@{/notice/search/1}" id="searchForm" method="get">
													                <div class="pull-right" style="margin-bottom: 5px;">
													                    <div class="col-xs-9">
													                        <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="keywordBtn">
													                    </div>
													                    <input type="submit" class="class="btn btn-outline-secondary"" value="검색" id="keywordBtn">
													                </div>
													            </form>
													        </div>-->
													        
													        <!-- 검색 -->
													        <!--<div class="input-group input-group-dynamic mb-3">
															    <form th:action="@{/notice/search/1}" id="searchForm" method="get" class="d-flex">
															        <input type="text" id="keyword" name="keyword" class="form-control" placeholder="검색어를 입력하세요" aria-label="Recipient's username" aria-describedby="keywordBtn">
															        <input type="submit" class="btn btn-warning" value="검색" id="keywordBtn">
															    </form>
															</div>-->
															
															<div class="input-group input-group-dynamic mb-3 search-form-container">
														        <!--<form th:action="@{/notice/search/1}" id="searchForm" method="get" class="d-flex">-->
																<form th:action="@{/notice/search/1}" id="searchForm" method="get" class="d-flex">
														            <div class="col-md-9">
														            	<input type="text" id="keyword" name="keyword" class="form-control" placeholder="검색어를 입력하세요" aria-label="Recipient's username" aria-describedby="keywordBtn">
														            </div>
														            <div class="col-md-3">
														            	<input type="submit" class="btn btn-warning" value="검색" id="keywordBtn">
														        	</div>
														        </form>
														    </div>
															

															
												            
												            <!-- 새 글 작성 -->
												            <!--<table class="table">
												                <tr>
												                    <td align="left">
												                        <th:block th:replace="~{/include/paging :: paging(categoryId=${categoryId}, totalPageCount=${totalPageCount}, nowPage=${page})}"></th:block>
												                    </td>
												                    <td align="right">
												                        <a th:href="@{/notice/write}">
												                            <button type="button" class="btn btn-primary">새 글 작성</button>
												                        </a>
												                    </td>
												               </tr>
												            </table>-->
												            <div class="d-flex justify-content-end button-container">
														        <a th:href="@{/notice/write}">
														            <button type="button" class="btn btn-primary">새 글 작성</button>
														        </a>
														    </div>
												            
												        </div>
												    </div>
												    <!-- 페이징 -->
												    <section class="py-7">
													    <nav aria-label="Page navigation" th:if="${totalPageCount > 0}">
													        <ul class="pagination">
													            <!-- 이전 페이지 버튼 -->
													            <li th:if="${nowPageBlock > 1}" class="page-item">
													                <a th:href="@{/board/cat/{categoryId}/{prevPage}(categoryId=${categoryId}, prevPage=${startPage - 1})}" class="page-link" aria-label="Previous"></a>
													            		<i class="fa fa-angle-left"></i>
																        <span class="sr-only">Previous</span>
																     </a>
													            </li>
													
													            <!-- 페이지 번호 -->
													            <th:block th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
													                <li th:class="${pageNum == nowPage} ? 'active' : ''" class="page-item">
													                    <a th:href="@{/board/cat/{categoryId}/{pageNum}(categoryId=${categoryId}, pageNum=${pageNum})}" th:text="${pageNum}" class="page-link"></a>
													                </li>
													            </th:block>
													
													            <!-- 다음 페이지 버튼 -->
													            <li th:if="${nowPageBlock < totalPageBlock}" class="page-item">
													                <a th:href="@{/board/cat/{categoryId}/{nextPage}(categoryId=${categoryId}, nextPage=${endPage + 1})}"  class="page-link" aria-label="Next">
																		<i class="fa fa-angle-right"></i>
        																<span class="sr-only">Next</span>
																	</a>
													            	
													            </li>
													        </ul>
													    </nav>
													</section>
															<!-- -->
														</div>
													</div>
	
	
	
													
												 <!-- 공지사항 리스트 -->
												
											</div>
										</div>
									</div>


								</div>
							</div>




						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





	<!-- footer -->
	<!-- Include footer fragment -->
	<div th:replace="~{fragments/footerFragment :: footer}"></div>

	<!--   Core JS Files   -->
	<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
	<script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
	<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>

	<!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
	<script src="/assets/js/plugins/countup.min.js"></script>
	<script src="/assets/js/plugins/choices.min.js"></script>
	<script src="/assets/js/plugins/prism.min.js"></script>
	<script src="/assets/js/plugins/highlight.min.js"></script>

	<!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
	<script src="/assets/js/plugins/rellax.min.js"></script>

	<!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
	<script src="/assets/js/plugins/tilt.min.js"></script>

	<!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
	<script src="/assets/js/plugins/choices.min.js"></script>
	<script src="/assets/js/material-kit.min.js?v=3.0.4" type="text/javascript"></script>
	<!-- 메타넷 final js -->
	<!--<script src="/assets/js/final.js" type="text/javascript"></script>-->
	<!-- jQuery js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>


<script th:inline="javascript">

	$("#searchForm").submit(function(event) {
    event.preventDefault();
    var keyword = $("#keyword").val();
    console.log(keyword);
    
    $.ajax({
        url: "/notice/search/1", // 페이지 번호가 필요하다면 동적으로 설정
        type: "get",
        data: { keyword: keyword },
        success: function(response) {
            $("#noticetable > tbody").empty(); // 테이블 초기화
            if (response.noticeList && response.noticeList.length > 0) {
                response.noticeList.forEach(function(notice) {
                    var str = "<tr>";
                    str += "<td>" + notice.noticeId + "</td>";
                    str += "<td><a href='/notice/" + notice.noticeId + "'>" + notice.title + "</a></td>";
                    str += "</tr>";
                    $("#noticetable > tbody").append(str);
                });
            }
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
});
	
</script>

</html>