<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>MetaBus</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="icon" href="/assets/busFavicon.png" type="image/png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
	<!-- Nucleo Icons -->
	<link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

	<link href="/assets/css/material-kit.css?v=3.0.0" rel="stylesheet" />

	<!-- 커스텀 CSS -->
	<link href="/assets/css/final.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="/assets/css/seat2.css">

	<!-- KoPub 폰트 -->
	<link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>


	<!-- payment form -->
	<!--
		<link rel='stylesheet' href="/assets/css/payment.css" />
	-->

</head>

<body>
	<div th:replace="~{fragments/navbarFragment :: navbar}"></div>
	<!-- Include navbar fragment -->

	<!-- container fluid -->
	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-lg-12 metanet-page-header pb-6"
				style="height: 100%; min-height: 100vh; background-image: url('../assets/img/bus.png');">
				<span class="mask bg-gradient-dark opacity-6"></span>


				<div class="container-fluid" style="margin-top: 23%;">
					<div class="row" style="text-align: center;">
						<!-- 좌석조회 카드 -->
						<div class="col-lg-12 mb-5" style="z-index: 10;">
							<div class="container bg-body-tertiary rounded-4 mt-n12" style="min-height: 80vh; max-height: 160vh;">

								<div class="section text-center" id="noticeContent">
									<h2 class="title pb-3 pt-4">공지사항</h2>

									<!-- 공지사항 컨테이너 -->
									<div class="row">
										<div class="col-2">

										</div>

										<div class="col-8">
											<hr class="dark horizontal mt-0 mb-2">
											<table class="table table-hover" id="noticeTable">
												<thead>
													<tr>
														<th class="col-2" scope="col">공지번호</th>
														<th class="col-8" scope="col">제목</th>
														<th class="col-2" scope="col">작성자</th>
													</tr>
												</thead>
												<tbody id="noticeTableBody">
													<!-- tbody 는 비동기로 가져온다. -->
													<!--<tr>
														<th scope="row">1</th>
														<td>Mark</td>
														<td>Otto</td>
													</tr>-->

												</tbody>
											</table>
										</div>

										<div class="col-2">

										</div>


										<!-- 공지 검색 관련 친구들
										 -->
										<div class="col-2">

										</div>
										<div class="col-8">
											<div class="row">
												<div class="col-10">
													<!-- d-flex 로 만들어서 블록 요소들을 한 line 에 두도록 만든다. -->
													<div class="d-flex align-items-center">
														<div class="d-inline-block form-check form-switch my-4 mb-2 d-flex align-items-center">
															<input class="form-check-input" type="checkbox" id="IsNoticeNumberSearch" checked="">
															<label class="form-check-label ms-3 mb-0 text-dark" for="IsNoticeNumberSearch">
																공지 번호
														</div>
														<div class="d-inline-block form-check form-switch my-4 mb-2 d-flex align-items-center">
															<input class="form-check-input mx-1" type="checkbox" id="IsNoticeTitleSearch" checked="">
															<label class="form-check-label ms-3 mb-0 text-dark" for="IsNoticeTitleSearch">
																공지 제목
														</div>
														<div class="d-inline-block my-4 mb-2 ms-4" style="font-size: 70%;">
															검색할 항목을 선택하세요. (중복 선택 가능. 단, 중복 선택 시 숫자로만 검색 가능)
														</div>
													</div>
												</div>
												<div class="col-2">
												</div>
											</div>
											<div class="input-group input-group-dynamic mb-4">
												<span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
												<input id="searchInput" class="form-control" placeholder="검색 내용 입력" type="text">
											</div>
										</div>
										<div class="col-2">

										</div>

										<!-- 페이지 번호
										 -->
										<div class="col-2">

										</div>

										<div class="col-8">
											<div class="row">
												<div class="col-3">

												</div>
												<div class="col-6 mb-3">
													<nav aria-label="Page navigation example">
														<ul id="paginationUl" class="pagination justify-content-center">
															<!-- li 동적으로 추가됩니다. -->
														</ul>
													</nav>
												</div>
												<div class="col-3" sec:authorize="hasRole('ADMIN')">
													<div class="row">
														<div class="col-6">

														</div>
														<div class="col-6 p-0 m-0">
															<button type="button" id="noticeRegisterButton" class="btn btn-sm bg-gradient-info"
																style="font-size: 80%; position: relative; left: -10%;">
																공지등록
															</button>
														</div>
													</div>
												</div>
											</div>

										</div>

										<div class="col-2">

										</div>

									</div>


								</div>
							</div>




						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 메타넷 final js -->
	<!--<script src="/assets/js/final.js" type="text/javascript"></script>-->
	<!--<script src="/assets/js/nav.js" type="text/javascript"></script>-->
	<!-- SweetAlert -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>



































	<!-- footer -->
	<!-- Include footer fragment -->
	<div th:replace="~{fragments/footerFragment :: footer}"></div>

	<!--   Core JS Files   -->
	<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
	<script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
	<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>

	<!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
	<script src="/assets/js/plugins/countup.min.js"></script>
	<script src="/assets/js/plugins/choices.min.js"></script>
	<script src="/assets/js/plugins/prism.min.js"></script>
	<script src="/assets/js/plugins/highlight.min.js"></script>

	<!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
	<script src="/assets/js/plugins/rellax.min.js"></script>

	<!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
	<script src="/assets/js/plugins/tilt.min.js"></script>

	<!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
	<script src="/assets/js/plugins/choices.min.js"></script>
	<script src="/assets/js/material-kit.min.js?v=3.0.4" type="text/javascript"></script>
	<!-- 메타넷 final js -->
	<!--<script src="/assets/js/final.js" type="text/javascript"></script>-->
	<!-- jQuery js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- iamport.payment.js -->
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>


	<script>
		let offset = 0; //페이징 처음에는 0으로 처리
		let pageCount;
		document.addEventListener('DOMContentLoaded', function () {
			//페이징 버튼 처리 부분 시작
			const paginationUl = document.getElementById('paginationUl');
			function paginationUpdate() {
				if (paginationUl !== null || paginationUl !== '') {
					paginationUl.innerHTML = '';
					const xhr = new XMLHttpRequest();
					xhr.onreadystatechange = function () {
						if (xhr.readyState === 4 && xhr.status === 200) {
							pageCount = JSON.parse(xhr.responseText);
							console.log('전체 페이징 수 : ' + pageCount);

							//previous 버튼 먼저 생성
							if (offset >= 10) { //현재 페이지 위치가 1이상이라면, 이전 버튼 클릭시
								paginationUl.innerHTML =
									'<li id="previousButton" class="page-item mx-2">' +
									'<a class="page-link" style="cursor:pointer" aria-label="Previous">' +
									'<i class="fa fa-angle-left"></i>' +
									'<span class="sr-only">Previous</span>' +
									'</a>' +
									'</li>';
								const previousButton = document.getElementById('previousButton');
								previousButton.addEventListener('click', function () {

									offset = offset - 10; //offset 이전 페이지로 이동
									getVipNotice((offset)); //이전 페이지 공지사항을 가져와서 보여준다.
									paginationUpdate(); //페이지 버튼 업데이트
								});
							}

							//페이징 버튼 생성 (bg-red)
							for (let i = 0; i < pageCount; i++) {
								if (offset === i) { //페이징 버튼이 offset 과 똑같다면 색을 칠해준다.
									var li = document.createElement('li');
									li.setAttribute('id', 'page' + i); //id 속성 추가하기. classList 와는 다른 게 재밌다.
									li.classList.add('page-item', 'mx-2', 'pageNumbers');//페이지 버튼 offset 에 따라서 색 칠해주는 처리
									li.innerHTML =
										'<a class="page-link" style="cursor:pointer">' +
										(i + 1) +
										'</a>';
									paginationUl.appendChild(li); //생성한 li 를 appendChild 해준다.
									//페이지 클릭했을 때 처리.
									const pageLink = document.getElementById('page' + i);
									if (pageLink !== null) {
										pageLink.addEventListener('click', function () {
											offset = i * 10; //클릭한 페이지 불러오기 준비
											getVipNotice(offset); //페이지 이동처리
											paginationUpdate(); //페이지 버튼 업데이트
										})
									}
								} else if (offset !== i) {
									var li = document.createElement('li');
									li.setAttribute('id', 'page' + i); //id 속성 추가하기. classList 와는 다른 게 재밌다.
									li.classList.add('page-item', 'mx-2', 'pageNumbers');
									li.innerHTML =
										'<a class="page-link" style="cursor:pointer">' +
										(i + 1) +
										'</a>';
									paginationUl.appendChild(li); //생성한 li 를 appendChild 해준다.
									//페이지 클릭했을 때 처리.
									const pageLink = document.getElementById('page' + i);
									if (pageLink !== null) {
										pageLink.addEventListener('click', function () {
											offset = i * 10; //클릭한 페이지 불러오기 준비
											getVipNotice(offset); //페이지 이동처리
											paginationUpdate(); //페이지 버튼 업데이트
										})
									}
								}
							}


							//페이지 최대 수랑 비교해서 올바르면 next 버튼 생성
							if ((offset) < ((pageCount - 1) * 10)) {
								var li = document.createElement('li'); //요소를 먼저 만들고, 안에 HTML 을 추가해주어야 한다.
								li.setAttribute('id', 'nextButton');
								li.classList.add('page-item', 'mx-2');
								li.innerHTML = '<a class="page-link" style="cursor:pointer" aria-label="Next">' +
									'<i class="fa fa-angle-right"></i>' +
									'<span class="sr-only">Next</span>' +
									'</a>';
								paginationUl.appendChild(li); //만든 요소를 자식으로 추가해준다.
								const nextButton = document.getElementById('nextButton');
								nextButton.addEventListener('click', function () {

									offset = offset + 10; //offset 다음 페이지로 이동
									getVipNotice(offset); //다음 페이지 공지사항을 가져와서 보여준다.
									paginationUpdate(); //페이지 버튼 업데이트
								});
							}

							//현재 페이지에 대해서 색 칠해주기
							//paginationUl 안에서, 칠해야 하는 li 태그 가져와서 색 칠하기.
							console.log('오프셋 : ', offset);
							let presentPage = (offset) / 10;
							console.log('presentPage 는 : ', presentPage);
							const liElement = paginationUl.querySelector('li#page' + presentPage);

							if (liElement !== null) {
								const aTag = liElement.querySelector('a');

								if (aTag !== null) {
									aTag.classList.add('bg-red');
									console.log('a tag : ' + liElement.innerHTML);
								} else {
									console.log('<a> tag not found within the <li> element.');
								}
							} else {
								console.log('Element not found for presentPage: ' + presentPage);
							}
						}
					};
					xhr.open('GET', '/notice/count', true);
					xhr.send();
				}
			}
			//page function 페이징 버튼 처리 부분 끝
			paginationUpdate(); //페이지번호 만들기 처음 페이지 로딩 되면 1회 실행.


			//검색창 검색 시 페이징 버튼 처리
			function searchPaginationUpdate(noticeList) {
				let paginationUl2 = document.getElementById('paginationUl');
				console.log('paginzationUl2 는 : ', paginationUl2);
				if (paginationUl2 !== null) {
					//document.getElementById('paginationUl').remove();
					var liElements = document.getElementById('paginationUl').querySelectorAll('li');

					// Remove each li element
					liElements.forEach(function (li) {
						li.remove();
					});

					console.log('paginationUl2 비우고 난 후 :' + paginationUl2);

					pageCount;
					console.log('전체 페이징 수 : ' + noticeList);

					//previous 버튼 먼저 생성
					if (offset >= 10) { //현재 페이지 위치가 1이상이라면, 이전 버튼 클릭시
						paginationUl.innerHTML =
							'<li id="previousButton" class="page-item mx-2">' +
							'<a class="page-link" style="cursor:pointer" aria-label="Previous">' +
							'<i class="fa fa-angle-left"></i>' +
							'<span class="sr-only">Previous</span>' +
							'</a>' +
							'</li>';
						const previousButton = document.getElementById('previousButton');
						previousButton.addEventListener('click', function () {

							offset = offset - 10; //offset 이전 페이지로 이동
							getVipNoticeOnly((offset)); //이전 페이지 공지사항을 가져와서 보여준다.
							//검색한 내용의 이전 혹은 offset 을 검색하기

							searchPaginationUpdate(); //페이지 버튼 업데이트
						});
					}

					//페이징 버튼 생성 (bg-red)
					for (let i = 0; i < pageCount; i++) {
						if (offset === i) { //페이징 버튼이 offset 과 똑같다면 색을 칠해준다.
							var li = document.createElement('li');
							li.setAttribute('id', 'page' + i); //id 속성 추가하기. classList 와는 다른 게 재밌다.
							li.classList.add('page-item', 'mx-2', 'pageNumbers');//페이지 버튼 offset 에 따라서 색 칠해주는 처리
							li.innerHTML =
								'<a class="page-link" style="cursor:pointer">' +
								(i + 1) +
								'</a>';
							paginationUl.appendChild(li); //생성한 li 를 appendChild 해준다.
							//페이지 클릭했을 때 처리.
							const pageLink = document.getElementById('page' + i);
							if (pageLink !== null) {
								pageLink.addEventListener('click', function () {
									offset = i * 10; //클릭한 페이지 불러오기 준비
									getVipNotice(offset); //페이지 이동처리
									paginationUpdate(); //페이지 버튼 업데이트
								})
							}
						} else if (offset !== i) {
							var li = document.createElement('li');
							li.setAttribute('id', 'page' + i); //id 속성 추가하기. classList 와는 다른 게 재밌다.
							li.classList.add('page-item', 'mx-2', 'pageNumbers');
							li.innerHTML =
								'<a class="page-link" style="cursor:pointer">' +
								(i + 1) +
								'</a>';
							paginationUl.appendChild(li); //생성한 li 를 appendChild 해준다.
							//페이지 클릭했을 때 처리.
							const pageLink = document.getElementById('page' + i);
							if (pageLink !== null) {
								pageLink.addEventListener('click', function () {
									offset = i * 10; //클릭한 페이지 불러오기 준비
									getVipNotice(offset); //페이지 이동처리
									paginationUpdate(); //페이지 버튼 업데이트
								})
							}
						}
					}


					//페이지 최대 수랑 비교해서 올바르면 next 버튼 생성
					if ((offset) < ((pageCount - 1) * 10)) {
						var li = document.createElement('li'); //요소를 먼저 만들고, 안에 HTML 을 추가해주어야 한다.
						li.setAttribute('id', 'nextButton');
						li.classList.add('page-item', 'mx-2');
						li.innerHTML = '<a class="page-link" style="cursor:pointer" aria-label="Next">' +
							'<i class="fa fa-angle-right"></i>' +
							'<span class="sr-only">Next</span>' +
							'</a>';
						paginationUl.appendChild(li); //만든 요소를 자식으로 추가해준다.
						const nextButton = document.getElementById('nextButton');
						nextButton.addEventListener('click', function () {

							offset = offset + 10; //offset 다음 페이지로 이동
							getVipNotice(offset); //다음 페이지 공지사항을 가져와서 보여준다.
							paginationUpdate(); //페이지 버튼 업데이트
						});
					}

					//현재 페이지에 대해서 색 칠해주기
					//paginationUl 안에서, 칠해야 하는 li 태그 가져와서 색 칠하기.
					console.log('오프셋 : ', offset);
					let presentPage = (offset) / 10;
					console.log('presentPage 는 : ', presentPage);
					const liElement = paginationUl.querySelector('li#page' + presentPage);

					if (liElement !== null) {
						const aTag = liElement.querySelector('a');

						if (aTag !== null) {
							aTag.classList.add('bg-red');
							console.log('a tag : ' + liElement.innerHTML);
						} else {
							console.log('<a> tag not found within the <li> element.');
						}
					} else {
						console.log('Element not found for presentPage: ' + presentPage);
					}

				}
			}



			//검색창 처리 부분 시작
			const searchInputTag = document.getElementById('searchInput'); //searchinput 태그 가져오기
			const searchNoticeNumCheckbox = document.getElementById('IsNoticeNumberSearch');
			const searchNoticeTitleCheckbox = document.getElementById('IsNoticeTitleSearch');
			let valueOfsearchInputTag;

			//함수로 검색창 처리 만들어두기(최초 실행 이후에 페이징 버튼을 위해서 만들어 둔다.)
			//필수 공지를 불러오는 것을 처리했기 때문에, 따로 불러줄 필요가 없다.
			if (searchInputTag !== null) {
				searchInputTag.addEventListener('keydown', function (event) {
					if (event.key === 'Enter') {
						valueOfsearchInputTag = searchInputTag.value; //input 태그에 입력한 내용 가져오기
						console.log('검색창에 입력한 값입니다. : ' + valueOfsearchInputTag);

						if (searchNoticeNumCheckbox.checked && !searchNoticeTitleCheckbox.checked) { //공지 번호 검색
							getVipNoticeOnly(offset); //중요공지만 우선 가져오기
							const xhr = new XMLHttpRequest();
							xhr.onreadystatechange = function () {
								if (xhr.readyState === 4 && xhr.status === 200) {
									const noticeList = JSON.parse(xhr.responseText);
									console.log('공지번호 검색 결과 : ' + noticeList);
									updateNoticeTableNormal(noticeList); //검색 결과를 비동기로 뿌려주기
									offset = 0;
									//페이지네이션 영역 지우기
									document.getElementById('paginationUl')
										.querySelectorAll('li')
										.forEach(function (li) {
											li.remove();
										});
								}
							};
							xhr.open('GET',
								'/notice/search/noticeid?' +
								'noticeid=' + valueOfsearchInputTag +
								'&offset=' + offset
								, true);
							xhr.send();
						} else if (searchNoticeTitleCheckbox.checked && !searchNoticeNumCheckbox.checked) { //공지 제목 검색
							getVipNoticeOnly(offset); //중요공지만 우선 가져오기 /notice/search/noticetitle
							const xhr = new XMLHttpRequest();
							xhr.onreadystatechange = function () {
								if (xhr.readyState === 4 && xhr.status === 200) {
									const noticeList = JSON.parse(xhr.responseText);
									console.log('공지제목 검색 결과 : ' + noticeList);
									updateNoticeTableNormal(noticeList); //검색 결과를 비동기로 뿌려주기
									offset = 0;
									//페이지네이션 영역 지우기
									document.getElementById('paginationUl')
										.querySelectorAll('li')
										.forEach(function (li) {
											li.remove();
										});
								}
							};
							xhr.open('GET',
								'/notice/search/noticetitle?' +
								'title=' + valueOfsearchInputTag +
								'&offset=' + offset
								, true);
							xhr.send();
						} else if (searchNoticeNumCheckbox.checked //공지 번호 or 공지 제목 검색
							|| searchNoticeTitleCheckbox.checked) {
							getVipNoticeOnly(offset); //중요공지만 우선 가져오기 /notice/search/noticetitleornoticeid
							const xhr = new XMLHttpRequest();
							xhr.onreadystatechange = function () {
								if (xhr.readyState === 4 && xhr.status === 200) {
									const noticeList = JSON.parse(xhr.responseText);
									if (noticeList !== null) {
										console.log('공지번호 or 공제제목 검색 결과 : ' + noticeList);
										updateNoticeTableNormal(noticeList); //검색 결과를 비동기로 뿌려주기
										offset = 0;
										//페이지네이션 영역 지우기
										document.getElementById('paginationUl')
											.querySelectorAll('li')
											.forEach(function (li) {
												li.remove();
											});
									} else {
										alert('공지번호 검색은 숫자만 입력 가능합니다.');
									}
								}
							};
							xhr.open('GET',
								'/notice/search/noticetitleornoticeid?' +
								'title=' + valueOfsearchInputTag +
								'&noticeid=' + valueOfsearchInputTag +
								'&offset=' + offset
								, true);
							xhr.send();
						}
					}
				});
			}
			//검색창 처리 부분 끝

			//게시글 등록 불러오는 처리
			function checkButtonExistence() {
				const noticeRegisterBtn = document.getElementById('noticeRegisterButton');
				console.log('noticeRegisterBtn : ' + noticeRegisterBtn);
				const noticeContent = document.getElementById('noticeContent');

				if (noticeRegisterBtn !== null) {
					console.log('noticeRegisterBtn이 읽혔어요.');

					clearInterval(noticeInterval); // Stop checking

					console.log('dom 읽기가 완료되었어요.');

					noticeRegisterBtn.addEventListener('click', function () {
						console.log('noticeBtn이 클릭되었습니다');

						const xhr = new XMLHttpRequest();

						xhr.open('GET', '/notice/register', true);

						xhr.onload = function () {
							if (xhr.status === 200) {
								console.log('공지 등록 html을 불러왔습니다.');
								noticeContent.innerHTML = xhr.responseText
								if (xhr.responseText) {

								} else {
									console.error('공지 작성을 위한 htmlcontent 가 없어요');
								}
							} else {
								console.error('공지 작성 가져오다 오류가 발생했어요', xhr.status, xhr.statusText);
							}
						};

						xhr.onerror = function () {
							console.error('통신 중 에러가 발생했어요');
						};

						xhr.send();
					});
					// Your remaining code here
				} else {
					console.log('noticeRegisterBtn을 못 읽어왔네요.');
				}
			}
			var noticeInterval = setInterval(checkButtonExistence(), 1000); // Check every 2 second


			//@GetMapping("/notice/viplist")
			//중요 공지 가져오는 것 처리 (이거 이후에 공지글 가져옴)
			function getVipNotice(offset) {
				const xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4 && xhr.status === 200) {
						const vipList = JSON.parse(xhr.responseText);
						updateNoticeTableVip(vipList);
						getNormalNotice(offset);
					}
				};
				xhr.open('GET', '/notice/viplist', true);
				xhr.send();
			}
			function getVipNoticeOnly(offset) { //중요 공지만 가져오기
				const xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4 && xhr.status === 200) {
						const vipList = JSON.parse(xhr.responseText);
						updateNoticeTableVip(vipList);
					}
				};
				xhr.open('GET', '/notice/viplist', true);
				xhr.send();
			}
			function updateNoticeTableVip(noticeVipList) {
				const tbody = document.getElementById('noticeTableBody');
				tbody.innerHTML = '';

				for (var i = 0; i < noticeVipList.length; i++) {
					var notice = noticeVipList[i];
					//N.NOTICE_ID, N.TITLE, M.MEMBER_ID 
					var row = document.createElement('tr');
					row.className = 'bg-red'; //중요 공지는 배경색 빨강 지정
					row.innerHTML = '<th scope="row">' + notice.noticeId + '</th>' +
						// '<td><a href=/notice/read?noticeId=' + notice.noticeId + '&offset=' + offset + '>' + notice.title + '</a></td>' +
						'<td><a style=cursor:pointer class=noticeTitle id=notice' + notice.noticeId + '>' + notice.title + '</a></td>' +
						'<td>' + notice.name + '</td>';
					tbody.appendChild(row);
					
					const thValue = row.querySelector('th').innerText;

					const titleA = document.getElementById('notice' + thValue);
					if (titleA) {
						titleA.addEventListener('click', function () {
							const xhr = new XMLHttpRequest();
							xhr.onreadystatechange = function () {
								if (xhr.readyState === 4 && xhr.status === 200) {
									console.log('공지 읽기 html : ' + xhr.responseText);
									const noticeReadHtml = xhr.responseText;
									updateNoticeContentForReadNotice(noticeReadHtml);
								}
							};
							xhr.open('GET', '/notice/read?noticeId=' + thValue + '&offset=' + offset, true);
							xhr.send();
						});
						function updateNoticeContentForReadNotice(content) {
							const noticeContent = document.getElementById('noticeContent');
							noticeContent.innerHTML = content;
						}
					}
				}
			}

			//notice Normal table 만드는 코드
			function getNormalNotice(offset) {
				const xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4 && xhr.status === 200) {
						const noticeList = JSON.parse(xhr.responseText);
						console.log('일반 공지들 불러왔습니다. : ' + noticeList);
						updateNoticeTableNormal(noticeList);
					}
				};
				xhr.open('GET', '/notice/list?offset=' + offset, true);
				xhr.send();
			}
			function updateNoticeTableNormal(noticeList) {
				const tbody = document.getElementById('noticeTableBody');
				//tbody.innerHTML = '';
				//중요 공지사항 가져올 때, 안을 비우기 때문에, 이것은 나중에 실행을 시킨다.

				for (var i = 0; i < noticeList.length; i++) {
					var notice = noticeList[i];
					console.log('noticeList 에서 꺼낸 notice : ', notice);
					//N.NOTICE_ID, N.TITLE, M.MEMBER_ID 
					var row = document.createElement('tr');
					row.innerHTML = '<th scope="row">' + notice.noticeId + '</th>' +
						'<td><a style=cursor:pointer class=noticeTitle id=noticeNormal' + notice.noticeId + '>' + notice.title + '</a></td>' +
						'<td>' + notice.name + '</td>';
					tbody.appendChild(row);

					console.log('addListener 하기 전에 notice.noticeId : ', notice.noticeId);
					let titleA = document.getElementById('noticeNormal' + notice.noticeId);
					
					//Question : how can i pick th tag's value that next to td tag that have noticeNormal + notic.noticeId as id
					const thValue = row.querySelector('th').innerText;
					
					
					
					document.getElementById('noticeNormal' + notice.noticeId).addEventListener('click', function () {//여기서 실행되는 notice.noticeId 와 
						console.log('notice.noticeId 실행 결과(공지제목 클릭) : ', thValue); //여기서 실행되는 notice.noticeId 는 다르다.
						const xhr = new XMLHttpRequest();
						xhr.onreadystatechange = function () {
							if (xhr.readyState === 4 && xhr.status === 200) {
								const noticeReadHtml = xhr.responseText; 
								updateNoticeContentForReadNotice(noticeReadHtml);
							}
						};
						xhr.open('GET', '/notice/read?noticeId=' + thValue + '&offset=' + offset, true);
						xhr.send();
					});
					function updateNoticeContentForReadNotice(content) {
						const noticeContent = document.getElementById('noticeContent');
						noticeContent.innerHTML = content;
					}
				}
			}


			//Notice 초기값은 offset(0) 으로 보냅니다. 
			getVipNotice(offset);
			//getNormalNotice(offset);





			//게시글 등록 불러오는 처리
			function fileSizeContainerExist() {
				const fileSizeContainer = document.getElementById('fileSizeContainer');

				if (fileSizeContainer) {
					console.log('fileSizeContainer가 읽혔어요.');
					clearInterval(intervalId2); // Stop checking

					// Get the file size element
					var fileSizeElement = document.getElementById("fileSizeValue");

					// Format the file size
					if (fileSizeElement) {
						var fileSize = parseFloat(fileSizeElement.innerText);

						// Call the function to format the file size
						fileSizeElement.innerText = formatFileSize(fileSize);
					}

				} else {
					console.log('noticeRegisterBtn을 못 읽어왔네요.');
				}
			}
			const intervalId2 = setInterval(fileSizeContainerExist(), 1000); // Check every second

		});



		function updateIsEmphasizedValue() {
			const isEmphasizedInput = document.getElementById('isEmphasized');
			const isEmphasizedCheckBox = document.getElementById('isEmphasizedCheckBox');
			console.log('중요 공지 여부 확인 실행됨');
			// Set the value of the isEmphasized input based on the state of the checkbox
			isEmphasizedInput.value = isEmphasizedCheckBox.checked ? 'TRUE' : 'FALSE';
		}

		function redirectToNotice(offset) {
			// Redirect to the /notice page with the provided offset value
			window.location.href = "/notice";
		}

		function formatFileSize(fileSize) {
			if (fileSize < 1024) {
				return fileSize + " bit";
			} else if (fileSize < 1048576) {
				return (fileSize / 1024).toFixed(2) + " Kbit";
			} else if (fileSize < 1073741824) {
				return (fileSize / 1048576).toFixed(2) + " Mbit";
			} else {
				return (fileSize / 1073741824).toFixed(2) + " Gbit";
			}
		}
	</script>

	<!--   Core JS Files   -->
	<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
	<script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
	<script src="/assets/js/plugins/perfect-scrollbar.min.js" type="text/javascript"></script>
	<script src="/assets/js/plugins/moment.min.js"></script>

	<script src="/assets/js/material-kit.min.js" type="text/javascript"></script>


	<!--<script src="./assets/js/final.js" type="text/javascript"></script>-->
	<!--<script src="/assets/js/nav.js" type="text/javascript"></script>-->
</body>

</html>