<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Title</title>
    <!-- 여기에 필요한 CSS 및 JS 파일 포함 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation" th:if="${totalPageCount > 0}">
        <ul class="pagination">
            <!-- 이전 페이지 버튼 -->
            <li th:if="${nowPageBlock > 1}">
                <a th:href="@{/board/cat/{categoryId}/{prevPage}(categoryId=${categoryId}, prevPage=${startPage - 1})}">◀</a>
            </li>

            <!-- 페이지 번호 -->
            <th:block th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
                <li th:class="${pageNum == nowPage} ? 'active' : ''">
                    <a th:href="@{/board/cat/{categoryId}/{pageNum}(categoryId=${categoryId}, pageNum=${pageNum})}" th:text="${pageNum}"></a>
                </li>
            </th:block>

            <!-- 다음 페이지 버튼 -->
            <li th:if="${nowPageBlock < totalPageBlock}">
                <a th:href="@{/board/cat/{categoryId}/{nextPage}(categoryId=${categoryId}, nextPage=${endPage + 1})}">▶</a>
            </li>
        </ul>
    </nav>
</body>
</html>