<!-- Navbar Transparent -->
<!-- <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent"> -->

<div class="container position-sticky z-index-sticky top-0" th:fragment="navbar">
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-expand-lg  blur border-radius-xl 
				top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0"
				style="left: 50%;">
				<div class="container">
					<a class="navbar-brand  text-black" href="/" rel="tooltip" title="시외버스 예매 시스템"
						data-placement="bottom">
						<img src="../assets/img/logo-white.png" class="img-fluid" style="width: 30%; max-height:50%;" />
					</a>

					<div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-8 ps-lg-5" id="navigation">
						<ul class="navbar-nav navbar-nav-hover ms-auto">
							<li class="nav-item mx-2 my-2">
								<a 
									sec:authorize="isAuthenticated()" 
									href="mypage" 
									id="mypageLink" 
									class="nav-link d-flex cursor-pointer align-items-center
										ps-2 my-2 metanet-width-100p metanet-justify-center" 
									aria-expanded="false">
									마이페이지
								</a>
							</li>

							<li class="nav-item  ml-2 my-2">
								<a 
									href="/notice/list/1" 
									class="nav-link d-flex cursor-pointer align-items-center
										ps-2 my-2 metanet-width-100p metanet-justify-center" 
									aria-expanded="false">
									공지사항
								</a>
							</li>

							<li 
								class="nav-item  mx-2 my-2"
								th:if="${#authorization.expression('isAnonymous()')}"  >
								<a 
									href="nreservation" 
									class="nav-link d-flex cursor-pointer align-items-center
										ps-2 my-2 metanet-width-100p metanet-justify-center" 
									aria-expanded="false">
									비회원예매조회
								</a>
							</li>

							<li class="nav-item mr-2 my-2"
								th:if="${#authorization.expression('isAuthenticated()')}">
								<a 
									href="reservation" 
									class="nav-link d-flex cursor-pointer align-items-center
										ps-2 my-2 metanet-width-100p metanet-justify-center" 
									aria-expanded="false">
									회원예매조회
								</a>
							</li>
							
							<li th:if="${#authorization.expression('isAnonymous()')}" 
								class="nav-item my-2 mx-2 metanet-width-100p" 
								style="display: flex; justify-content: right;">
								<a 
									href="login" 
									class="btn btn-sm btn-success my-2 py-2">
									Login
								</a>
							</li>
							<li th:if="${#authorization.expression('isAuthenticated()')}"
								class="nav-item my-2 mx-2 metanet-width-100p"
								style="display: flex; justify-content: right;">
								<a 
									href="logout2" 
									class="btn btn-sm btn-info my-2 py-2">
									Logout
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
		</div>
	</div>
</div>