<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="metanet.kosa.metanetfinal.bus.repository.IBusesRepository">

	<insert id="makeNewBus" parameterType="map">
	    INSERT INTO BUSES (BUS_ID, ROUTE_ID, GRADE_NAME)
	    VALUES
	    	(bus_id.NEXTVAL, #{routeId}, #{gradeName})
	</insert>
	
	<insert id="makeNewSeat" parameterType="map">
	     INSERT INTO SEATS (SEAT_ID, BUS_ID)
	                VALUES
	                (#{seatId}, #{busId})
	</insert>


	
	<select id="getBusId" parameterType="String" resultType="int">
		SELECT bus_id
        FROM buses
        WHERE route_id = #{routeId}
	</select>
	
	<select id="getRemainingSeatCount" parameterType="int" resultType="int">
	 	SELECT COUNT(*) AS remainingSeat
        FROM SEATS
        WHERE BUS_ID = #{busId}
        AND IS_RES = 'FALSE'
	</select>
	
</mapper>