<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="metanet.kosa.metanetfinal.notice.repository.INoticeRepository">

	<select id="getNoticeList" parameterType="hashmap" resultType="metanet.kosa.metanetfinal.notice.model.Notices">
		<![CDATA[
		SELECT 
			notice_id 		AS "noticeId", 
			member_id 		AS "memberId", 
			title			AS "title", 
			content			AS "content", 
			dir_Path		AS "dirPath"
		FROM (
			SELECT 
				notice_id, member_id, title, content, dir_Path,
				rownum AS rnum
			FROM (
				SELECT * FROM notices
				ORDER BY notice_id DESC
			)
		)
		WHERE rnum BETWEEN #{start} AND #{end}
	]]>
	</select>
	
	<select id="getTotalNoticeNum" resultType="int">
		<![CDATA[
			SELECT COUNT(notice_id) AS "count" FROM notices
		]]>
	</select>
	
	<select id="getNotice" parameterType="int" resultType="metanet.kosa.metanetfinal.notice.model.Notices">
		<![CDATA[
		SELECT 
			notice_id					AS "noticeId", 
			member_id					AS "memberId", 
			title						AS "title", 
			content						AS "content", 
			dir_Path					AS "dirPath"
		FROM notices
		WHERE notice_id=#{noticeId}
	]]>
	</select>
	
	<select id="getNoticeSearchList" resultType="metanet.kosa.metanetfinal.notice.model.Notices">
		<![CDATA[
		SELECT 
			notice_id 		AS "noticeId", 
			member_id 		AS "memberId", 
			title			AS "title", 
			content			AS "content", 
			dir_Path		AS "dirPath"
		FROM (
			SELECT 
				notice_id, member_id, title, content, dir_Path,
				rownum AS rnum
			FROM (
				SELECT * FROM notices
				WHERE title LIKE #{keyword} OR
					  content LIKE #{keyword}
				ORDER BY notice_id DESC
			)
		)
		WHERE rnum BETWEEN #{start} AND #{end}
	]]>
	</select>
	
	<select id="getTotalNoticSearcheNum" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM notices
			WHERE title LIKE #{keyword} OR content LIKE #{keyword}
		]]>
	</select>
</mapper>