<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="metanet.kosa.metanetfinal.notice.repository.INoticeRepository">

	<insert id="insertNoticeWithFile" parameterType="map">
		<![CDATA[
			INSERT INTO notices
				(notice_id, member_id, title, 
				content, file_name, file_data, 
				FILE_TYPE, FILE_SIZE,
				is_emphasized)
			VALUES
				(notices_id.NEXTVAL, #{memberId}, #{notices.title}, 
				#{notices.content}, #{notices.fileName},  #{notices.file}, 
				#{notices.fileContentType}, #{notices.fileSize},
				#{notices.isEmphasized})
		]]>
	</insert>
	
	<insert id="insertNoticeWithoutFile" parameterType="map">
		<![CDATA[
			INSERT INTO notices
				(notice_id, member_id, title, content, is_emphasized)
			VALUES
				(notices_id.NEXTVAL, #{memberId}, #{notices.title}, 
				#{notices.content}, 
				#{notices.isEmphasized})
		]]>
	</insert>
	
	<!-- List<NoticeListHome> getNoticesWithPagination(RowBounds rowBounds)  -->
	<select id="getNoticesWithPagination" resultType="metanet.kosa.metanetfinal.notice.model.NoticeListHome">
		<![CDATA[
			SELECT 
				N.NOTICE_ID, N.TITLE, M.NAME
			FROM 
				NOTICES N JOIN MEMBERS M
			ON 
				N.MEMBER_ID = M.MEMBER_ID
		]]>
	</select>
	
	<!-- List<NoticeListHome> getVipNotice();  -->
	<select id="getVipNotice" resultType="metanet.kosa.metanetfinal.notice.model.NoticeListHome">
		<![CDATA[
			SELECT 
				N.NOTICE_ID, N.TITLE, M.NAME
			FROM 
				NOTICES N JOIN MEMBERS M
			ON 
				N.MEMBER_ID = M.MEMBER_ID
			WHERE
				N.IS_EMPHASIZED = 'TRUE'
		]]>
	</select>
	
	
	
	<!-- NoticeRead readNoticeByNoticeId(@Param("noticeId") int noticeId); -->
	<select id="readNoticeByNoticeId" parameterType="int" resultType="metanet.kosa.metanetfinal.notice.model.NoticeRead">
		<![CDATA[
			SELECT 
				M.NAME, N.NOTICE_ID, 
				N.TITLE, N.CONTENT, 
				N.FILE_NAME, N.FILE_DATA, 
				N.FILE_TYPE, N.FILE_SIZE,
				IS_EMPHASIZED, 0 AS OFFSET
			FROM
				MEMBERS M JOIN NOTICES N
			ON
				M.MEMBER_ID = N.MEMBER_ID
			WHERE 
				N.NOTICE_ID = #{noticeId}
		]]>
	</select>
	
	<!-- //파일첨부 안한 공지글 읽기
	NoticeReadWithoutFile readNoticeWithoutFileByNoticeId(@Param("noticeId") int noticeId);
	 -->	
	<select id="readNoticeWithoutFileByNoticeId" parameterType="int" resultType="metanet.kosa.metanetfinal.notice.model.NoticeReadWithoutFile">
		<![CDATA[
			SELECT 
				M.NAME, N.NOTICE_ID, 
				N.TITLE, N.CONTENT, 
				IS_EMPHASIZED, 0 AS OFFSET
			FROM
				MEMBERS M JOIN NOTICES N
			ON
				M.MEMBER_ID = N.MEMBER_ID
			WHERE 
				N.NOTICE_ID = #{noticeId}
		]]>
	</select>
	
	<!-- Boolean isWithFile(@Param("noticeId") int noticeId); -->
	<select id="isWithFile" parameterType="int" resultType="int">
		<![CDATA[
			SELECT 
				CASE WHEN COUNT(FILE_NAME) > 0 THEN 1 ELSE 0 END
			FROM
				NOTICES
			WHERE 
				NOTICE_ID = #{noticeId}
		]]>
	</select>
	
	
	
	<!-- NoticeFile getNoticeFile(@Param("noticeId") int noticeId); -->
	<select id="getNoticeFile" parameterType="int" resultType="metanet.kosa.metanetfinal.notice.model.NoticeFile">
		<![CDATA[
			SELECT 
				FILE_NAME, FILE_DATA, FILE_TYPE, FILE_SIZE
			FROM
				NOTICES
			WHERE 
				NOTICE_ID = #{noticeId}
		]]>
	</select>
	
	
	<!-- List<NoticeListHome> getNoticeByNoticeIdSearchWithPagination(
				@Param("noticeId") int noticeId,
				RowBounds rowBounds
			); -->
	<select id="getNoticeByNoticeIdSearchWithPagination" resultType="metanet.kosa.metanetfinal.notice.model.NoticeListHome">
		<![CDATA[
			SELECT 
				N.NOTICE_ID, N.TITLE, M.NAME
			FROM 
				NOTICES N JOIN MEMBERS M
			ON 
				N.MEMBER_ID = M.MEMBER_ID
			WHERE
				N.NOTICE_ID LIKE '%' || #{noticeId} || '%'
		]]>
	</select>
	
	
	<!-- List<NoticeListHome> getNoticeByNoticeTitleSearchWithPagination(
				@Param("title") String title,
				RowBounds rowBounds
			); -->
	<select id="getNoticeByNoticeTitleSearchWithPagination" resultType="metanet.kosa.metanetfinal.notice.model.NoticeListHome">
		<![CDATA[
			SELECT 
				N.NOTICE_ID, N.TITLE, M.NAME
			FROM 
				NOTICES N JOIN MEMBERS M
			ON 
				N.MEMBER_ID = M.MEMBER_ID
			WHERE
				N.TITLE LIKE '%' || #{title} || '%'
		]]>
	</select>
	
	
	<!-- List<NoticeListHome> getNoticeByNoticeTitleOrNoticeIdSearchWithPagination(
				@Param("noticeId") int noticeId,
				@Param("title") String title,
				RowBounds rowBounds
			); -->
	<select id="getNoticeByNoticeTitleOrNoticeIdSearchWithPagination" resultType="metanet.kosa.metanetfinal.notice.model.NoticeListHome">
		<![CDATA[
			SELECT 
				N.NOTICE_ID, N.TITLE, M.NAME
			FROM 
				NOTICES N JOIN MEMBERS M
			ON 
				N.MEMBER_ID = M.MEMBER_ID
			WHERE
				N.TITLE LIKE '%' || #{title} || '%'
			OR
				N.NOTICE_ID LIKE '%' || #{noticeId} || '%'
		]]>
	</select>
	
	<!-- int getAllNoticeCount(); --> 
	<select id="getAllNoticeCount" resultType="int">
		<![CDATA[
			SELECT 
				count(*)
			FROM
				NOTICES
		]]>
	</select>
	
	
	
	
	
	
	
	
	<!-- 
	<select id="getNoticeList" parameterType="hashmap" resultType="metanet.kosa.metanetfinal.notice.model.Notices">
		<![CDATA[
		SELECT 
			notice_id 		AS "noticeId", 
			member_id 		AS "memberId", 
			title			AS "title", 
			content			AS "content", 
			dir_Path		AS "dirPath"
		FROM (
			SELECT 
				notice_id, member_id, title, content, dir_Path,
				rownum AS rnum
			FROM (
				SELECT * FROM notices
				ORDER BY notice_id DESC
			)
		)
		WHERE rnum BETWEEN #{start} AND #{end}
	]]>
	</select>
	
	<select id="getTotalNoticeNum" resultType="int">
		<![CDATA[
			SELECT COUNT(notice_id) AS "count" FROM notices
		]]>
	</select>
	
	<select id="getMaxNoticeId" resultType="int">
		<![CDATA[
			SELECT MAX(notice_id) FROM notices
		]]>
	</select>
	
	<select id="getNotice" parameterType="int" resultType="metanet.kosa.metanetfinal.notice.model.Notices">
		<![CDATA[
		SELECT 
			notice_id					AS "noticeId", 
			member_id					AS "memberId", 
			title						AS "title", 
			content						AS "content", 
			dir_Path					AS "dirPath"
		FROM notices
		WHERE notice_id=#{noticeId}
	]]>
	</select>
	
	<select id="getNoticeSearchList" resultType="metanet.kosa.metanetfinal.notice.model.Notices">
		<![CDATA[
		SELECT 
			notice_id 		AS "noticeId", 
			member_id 		AS "memberId", 
			title			AS "title", 
			content			AS "content", 
			dir_Path		AS "dirPath"
		FROM (
			SELECT 
				notice_id, member_id, title, content, dir_Path,
				rownum AS rnum
			FROM (
				SELECT * FROM notices
				WHERE title LIKE #{keyword} OR
					  content LIKE #{keyword}
				ORDER BY notice_id DESC
			)
		)
		WHERE rnum BETWEEN #{start} AND #{end}
	]]>
	</select>
	
	<select id="getTotalNoticSearcheNum" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM notices
			WHERE title LIKE #{keyword} OR content LIKE #{keyword}
		]]>
	</select>
	
	
	<delete id="deleteNotice" parameterType="int">
		<![CDATA[
			DELETE FROM notices
			WHERE notice_id = #{noticeId}
		]]>
	</delete>
	
	<update id="updateNotice">
		UPDATE notices
		SET title = #{notice.title},
			member_id = 1,
			content = #{notice.content},
			dir_Path = #{notice.dirPath}
		WHERE notice_id = #{noticeId}
	</update>
	
	-->
</mapper>